* {
	box-sizing: border-box;
}

body {
	background-color: rgb(202, 201, 201);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 800px;
	flex-wrap: wrap;
}

.square {
	width: 16px;
	height: 16px;
	background-color: #6c6b6b;
	margin: 2px;
	box-shadow: 0 0 2px #6c6b6b;
	transition: 2s ease;
}

.square:hover {
	transition-duration: 0s;
}
